*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu{
    font-size: 22px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
}
#texte{
    font-size: 18px;
    clear: right;
    margin: 6px;
}
#titre{
    font-size: 20px;
    font-weight: bold;
    width: 47%;
    height: 50px;
    border: 3px solid black;
    float: right;
}
/*tout ce qui concerne les mise en page de la case odinateur serait là*/
.ordinateur{
    background-color: blue;
    width: 30%;
    float: left;
    margin-left: 3%;
    border: 3px solid black;
    height: 100%;
}
.ordinateur> div{
    background-color: rgb(72, 255, 0);
    text-align: center;
}

/*feuille de style de la case Tablette*/
.tablette{
    background-color: blue;
    width: 30%;
    float: left;
    margin-left: 3%;
    border: 3px solid black;
    box-sizing: border-box;
    height: 100%;
}
.tablette> div{
    background-color: rgb(255, 238, 0);
    text-align: center;
}

/*style de la partie mobile*/
.mobile{
    background-color: blue;
    float: left;
    margin-left: 3%;
    border: 3px solid black;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
}
.mobile> div{
    background-color: red;
    text-align: center;
}
/*l'évolution des cases*/
@media (min-width: 768px) and (max-width: 992px)
{
.tablette{

}
.ordinateur{

}
.mobile{
    
}
}
